h1 {
  background-image: url("../img/MainHero/heromain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 37.5rem;
  text-decoration: none;
  text-shadow: 0.0625rem 0.0625rem 0.1875rem black;
  font-size: calc(1rem + 5vw);
}
@media screen and (max-width: 360px) {
  h1 {
    height: 18.75rem;
  }
}
h1:hover {
  color: rgb(8, 0, 6) !important;
  transition: 0.8s ease-in-out;
}

section a.section__img {
  height: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 360px) {
  section a.section__img {
    height: 9.375rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
section .section__text {
  text-decoration: none;
  text-shadow: 0.0625rem 0.0625rem 0.1875rem black;
  color: #f9f6ee;
  font-size: calc(1rem + 5vw);
}
section .prendas {
  background-image: url("../img/Section/prendas1.png");
  transition: 0.8s ease-in-out;
}
section .prendas:hover {
  background-image: url("../img/Section/prendas2.png");
}
section .accesorios {
  background-image: url("../img/Section/accesorios1.jpg");
  transition: 0.8s ease-in-out;
}
section .accesorios:hover {
  background-image: url("../img/Section/accesorios2.webp");
}

.newsletter__container {
  background-image: url("../img/backgrounds/backgnewsletter2.webp");
}

.pagosm {
  height: 1.875rem;
}

@media screen and (max-width: 360px) {
  .medios_pagos {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .logo__img {
    width: 3.125rem;
    height: 3.125rem;
  }
  .navbar-toggler {
    font-size: 1rem;
  }
}
div.banner {
  background-image: url("../img/backgrounds/bannerground.png");
}
div.banner .parpadea {
  animation-name: parpadeo;
  animation-duration: 11s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
@-moz-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes parpadeo {
  0% {
    color: white;
    opacity: 1;
  }
  50% {
    color: #0df053;
    opacity: 0.5;
  }
  100% {
    color: white;
    opacity: 1;
  }
}

.location__text {
  font-size: calc(1rem + 5vw);
}

.location__map {
  width: 50rem;
  height: 37.5rem;
}

small {
  color: red;
}

.btn__form {
  margin: 0 auto;
  display: block;
  background-color: blueviolet !important;
}
.btn__form:hover {
  color: rgb(0, 0, 0) !important;
  transition: 0.8s ease-in-out;
}

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 10px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba 0, 0, 0, 0.3;
  z-index: 100;
  text-decoration: none;
}
.btn-wsp:hover {
  color: #0df053;
  background: #fff;
}

/*# sourceMappingURL=style.css.map */
