h1 {
  background-image: url("../img/MainHero/heromain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 37.5rem;
  text-decoration: none;
  text-shadow: $text-shadow;
  font-size: $title-font;

  @include phone {
    height: 18.75rem;
  }

  &:hover {
    color: rgb(8, 0, 6) !important;
    transition: $transition;
  }
}
