@include phone {
  .logo__img {
    width: 3.125rem;
    height: 3.125rem;
  }
  .navbar-toggler {
    font-size: 1rem;
  }
}
div.banner {
  background-image: url("../img/bannerground.png");

  // h2 {
  //   text-transform: uppercase;
  //   transition: $transition;
  //   &:hover {
  //     color: blueviolet !important;
  //   }
  // }
  .parpadea {
    animation-name: parpadeo;
    animation-duration: 11s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }

  @-moz-keyframes parpadeo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes parpadeo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes parpadeo {
    0% {
      color: white;
      opacity: 1;
    }
    50% {
      color: #0df053;
      opacity: 0.5;
    }
    100% {
      color: white;
      opacity: 1;
    }
  }
}
