@include phone {
  .logo__img {
    width: 3.125rem;
    height: 3.125rem;
  }
  .navbar-toggler {
    font-size: 1rem;
  }
}
div.banner {
  background-image: url("../img/bannerground.png");
  h2 {
    transition: $transition;
    &:hover {
      color: blueviolet !important;
    }
  }
}
