section {
  a.section__img {
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @include phone {
    a.section__img {
      height: 9.375rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .section__text {
    text-decoration: none;
    text-shadow: $text-shadow;
    color: $cool-white;
    font-size: $title-font;
  }

  .prendas {
    background-image: url("../img/Section/prendas1.png");
    transition: $transition;
    &:hover {
      background-image: url("../img/Section/prendas2.png");
    }
  }

  .accesorios {
    background-image: url("../img/Section/accesorios1.jpg");
    transition: $transition;
    &:hover {
      background-image: url("../img/Section/accesorios2.webp");
    }
  }
}
