section {
  height: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include phone {
    a.section__img {
      height: 9.375rem;
    }
  }

  .section__text {
    text-decoration: none;
    text-shadow: $text-shadow;
    color: $cool-white;
    font-size: $title-font;
  }

  .prendas {
    background-image: url("../img/prendas1.png");
    transition: $transition;
    &:hover {
      background-image: url("../img/prendas2.png");
    }
  }

  .accesorios {
    background-image: url("../img/accesorios1.jpg");
    transition: $transition;
    &:hover {
      background-image: url("../img/accesorios2.webp");
    }
  }
}
