/* nav bar */
.navbar {
  padding: 2rem;
  background-color: f5f6f7;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/* estilos generales */
.section__text {
  font-size: 5.625rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/heromain.jpg");
  font-size: 6.25rem;
  text-decoration: none;
  color: whitesmoke;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 37.5rem;
  text-decoration: none;
  text-shadow: 0.0625rem 0.0625rem 0.1875rem black;
}
.hero:hover {
  color: rgb(8, 0, 6);
  transition: 0.8s ease-in-out;
}

.prendas_img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31.25rem;
  background-image: url("../img/prendas1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  text-shadow: 0.0625rem 0.0625rem 0.1875rem black;
}

.accesorios_img {
  background-image: url("../img/accesorios1.jpg");
  height: 31.25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  text-shadow: 0.0625rem 0.0625rem 0.1875rem black;
  align-items: center;
  justify-content: center;
  display: flex;
}

.prendas_img:hover {
  background-image: url("../img/prendas2.png");
  transition: ease-in-out 0.8s;
}

.accesorios_img:hover {
  background-image: url("../img/accesorios2.webp");
  transition: ease-in-out 0.8s;
}
.newsletter__container {
  background-image: url("../img/backgnewsletter2.webp");
}

.pagosm {
  height: 1.875rem;
}
.footer__container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

h6 {
  font-size: 0.75rem;
}

/* SECCION PRENDAS */
/* .banner__prendas {
  width: 100%;
  height: auto;
} */

small {
  color: red;
}

/*  FIN SECCION PRENDAS */

/* STORES */
.location__text {
  font-size: 1.875rem;
}
.location__map {
  width: 50rem;
  height: 37.5rem;
}
/* FIN STORES */

/* AYUDA */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-control {
  width: 31.25rem;
}

/* FIN AYUDA */

/* (responsive) */

@media screen and (max-width: 768px) {
  .navbar-brand {
    display: none;
  }
  .hero {
    font-size: 5rem;
  }
  .section__text {
    font-size: 3.75rem;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .form-control {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .navbar-brand {
    display: none;
  }
  .hero {
    font-size: 3rem;
    justify-content: center;
    height: 20rem;
  }
  .prendas_img {
    height: 9.375rem;
  }
  .accesorios_img {
    height: 9.375rem;
  }
  .section__text {
    font-size: 1.875rem;
  }

  footer {
    font-size: 0.75rem;
    text-align: center;
  }
  .copyright {
    font-size: 0.75rem;
  }
  h4 {
    font-size: 0.9375rem;
  }
  .medios_pagos {
    display: none;
  }

  .form-control {
    width: 100%;
  }
}
